:root {
    --color_uno: #5E503F;
    --color_dos: #EAE0D5;
    --color_tres: #C6AC8F;
    --fuente_uno: 'Abril Fatface', cursive;
    --fuente_dos: 'Anton', sans-serif;
    --fuente_tres: 'Zilla Slab', serif; 
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #2e3b41;
}

body {
    display: flex;
}

aside {
    background-color: var(--color_uno);
    width: 30%;
    padding: 35px;
    padding-bottom: 0;
    height: auto;
    color: var(--color_dos);
}

h1 {
    font-family: var(--fuente_uno);
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-family: var(--fuente_uno);
    font-size: 3rem;
    font-weight: 100;
}

p {
    font-family: var(--fuente_tres);
    font-size: 2rem;
}

section {
    margin-bottom: 30px;
}

aside p{
    margin-top: 5px;
    font-size: 2rem;
}

aside a {
    color: var(--color_dos);
}

.foto {
    text-align: center;
    margin-bottom: 7px;
}

.foto img {
    min-width: 120px;
    max-width: 220px;
    border-radius: 50%;
}

.info {
    text-align: center;
    margin-bottom: 50px;
}

.contacto {
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 40px;
}

.contacto h2 {
        margin-bottom: 20px;
}

.contacto article {
    margin-bottom: 20px;
    display: flex;
}

.contacto article img {
    margin-right: 10px;
}

.contacto figure img {
    position: relative;
    top: 5px;
}

.contacto p {
    font-size: 1.8rem;
}

.educacion article {
    margin-top: 10px;
    margin-right: 15px;
    text-align: center;
}

.educacion h2 {
    margin-bottom: 30px;
}

.educacion p {
    text-align: center;
}

.educacion img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.prepa_periodo {
    margin-top: 48px;
}

.facu_periodo {
    color: #c6ac8f;
}

.facu .carrera {
    font-size: 1.5rem;
}

.idiomas {
    margin-top: 50px;
}

.idiomas h2 {
    margin-bottom: 30px;
}

.idiomas article {
    margin-bottom: 30px;
}

.idiomas div p {
    font-size: 1rem;
}

.idiomas .ingles div {
    display: flex;
}

.idiomas .ingles div p:first-child {
    background-color: var(--color_dos);
    color: black;
    text-align: center;
    width: 54%;
}

.idiomas .ingles div .color2 {
    background-color: var(--color_tres);
    color: var(--color_tres);
    width: 46%;
}

.idiomas .japones div {
    display: flex;
}

.idiomas .japones div p:first-child {
    background-color: var(--color_dos);
    color: black;
    text-align: center;
    width: 13%;
}

.idiomas .japones div .color2 {
    background-color: var(--color_tres);
    color: var(--color_tres);
    width: 87%;
}

.extra_info h2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.extra_info li {
    font-size: 2rem;
    color: var(--color_dos);
    font-family: var(--fuente_tres);
    margin-left: 20px;
}

.extra_info .espacio {
    margin-bottom: 35px;
}

main {
    background-color: var(--color_dos);
    padding-top: 20px;
    width: 100%;
    padding: 30px 30px 0px 30px;
}


main h2 {
    font-size: 4rem;
    color: var(--color_uno);
    margin-bottom: 10px;
}

main p {
    font-size: 2rem;
}

main section {
    margin-bottom: 60px;
}

main .experiencia .scrum, .frontend--developer{
    display: flex;
}

.experiencia h2 {
    margin-bottom: 30px;
}

.experiencia article {
    margin-bottom: 30px;
}

.experiencia p {
    font-size: 1.5rem;
}

.experiencia div {
    min-width: 160px;
}

.experiencia .periodo--materia{
    width: 20%;
}

.experiencia .puesto {
    width: 80%;
}

.experiencia .periodo--materia p{
    font-size: 1.5rem;
    font-weight: bold;
}

.experiencia h3{
    font-size: 2rem;
    color: #22333b;
}

.habilidades h2 {
    margin-bottom: 30px;
}

.habilidades article {
    display: flex;
    margin-bottom: 30px;
}

.habilidades .texto {
    width: 20%;
    min-width: 100px;
    font-weight: bold;
}

.habilidades .texto_java {
    min-width: 90px;
}

.habilidades .barra {
    width: 80%;
    display: flex;
}

.habilidades .barra p {
    font-size: 1rem;
}

.habilidades .html .color1 {
    width: 70%;
    background-color: #5E503F;
    color: #5E503F;
}

.habilidades .html .color2 {
    width: 30%;
    background-color: #C6AC8F;
    color: #C6AC8F;
}

.habilidades .css .color1 {
    width: 50%;
    background-color: #5E503F;
    color: #5E503F;
}

.habilidades .css .color2 {
    width: 50%;
    background-color: #C6AC8F;
    color: #C6AC8F;
}
.habilidades .java .color1 {
    width: 30%;
    background-color: #5E503F;
    color: #5E503F;
}

.habilidades .java .color2 {
    width: 70%;
    background-color: #C6AC8F;
    color: #C6AC8F;
}

.certificados{
    display: flex;
}

.certificados_texto{
    margin-bottom: 30px;
}

.certificados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-content: space-between;
    gap: 100px;
}

.certificados article {
    padding: 10px;
    border-radius: 15px;
}

.certificados article .texto p {
    color: #22333b;
    font-size: 2.5rem;
    min-width: 10px;
    font-weight: bold;
    
}

.curso_info {
    display: flex;
    align-items: center;
}

.curso_info img{
    margin-left: 60px;
}

@media screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}